body, html {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 12px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}


#keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s linear;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  position: relative;
}

.click-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  background-color: transparent;
  cursor: pointer;

}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  background: #ffc600;
  /* box-shadow: 0 0 1rem #ffc600; */
}

.key-code {
  display: block;
  font-size: 4rem;
  margin-bottom: 0.2em;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #ffc600;
}